@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/montserrat-alternates";
@import "@fontsource/roboto";

@font-face {
  font-family: "Candal";
  src: url("/public/fonts/Candal-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 6px;
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
  color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  max-width: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #febd59;
  border-radius: 8px;
}
@layer utilities {
  .wrapper {
    @apply max-w-[70rem] mx-auto sm:px-8 px-4;
  }
  .section-name {
    @apply text-2xl font-bold text-common;
  }
  .main-heading {
    @apply text-3xl sm:text-6xl text-blue-900 font-extrabold;
  }
  .primary-btn {
    @apply bg-common w-fit uppercase font-semibold rounded-xl;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .active-link {
    @apply text-primary font-semibold;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* loading spinner styles */
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.726);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ff6600 #ff6600;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
